body {
  background-image: url(../img/fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center center; */
  background-attachment: fixed;
}
/* .section-2 {
  background-image: url(../img/fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
} */

.titulosEnAmarillo {
  text-shadow: 0.1em 0.1em 0.2em black;
}

.links {
  transition: all 0.3s !important;
}

.links:hover {
  color: red !important;
  transform: scale(1.1) !important;
}

.carousel-inner {
  background-image: url(../img/musicaLibreGratis.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.imagenesObras {
  border-radius: 15px;
  border: solid black 2px;
}
.slide img {
  height: 100%;
  width: 100%;
}

.img-logo {
  height: 150px;
  width: 150px;
}

/*SOBRE MI*/

.bodySobreMi {
  background-image: url(../img/oeba.jpg);
}

/*CONTACTO*/

.bodyContacto {
  background: linear-gradient(#d3d1d1, #ffffff);
}

/*CLASES DE MÚSICA*/

.bodyClasesDeMusica {
  background-image: url(../img/comoLeerPartituras.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.tituloClasesDeMusica {
  display: flex;
  justify-content: center;
  text-shadow: 0.1em 0.1em 0.2em black;
  padding: 20px;
}

.parrafoClasesDeMusica {
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.507);
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  text-shadow: 0.1em 0.1em 0.2em black;
}
