/*SOBRE MI*/
.bodySobreMi {
  background: black;
}
.sectionBio {
  background-image: url(../img/oeba.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.carousel-inner {
  background-image: url(../img/comoLeerPartituras.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}
